<div class="title">REPORTE</div>
<div class="indicators">
    <kpi-citas title="Total enviados" valor="3" cssIcon="fa-solid fa-list-check" cssColor="#001b97" />
    <kpi-citas title="Citas Confirmadas" valor="1" cssIcon="fa-regular fa-check-double" cssColor="green" />
    <kpi-citas title="Citas Canceladas" valor="1" cssIcon="fa-regular fa-ban" cssColor="red" />
    <kpi-citas title="Esperando Respuesta" valor="1" cssIcon="fa-regular fa-timer" cssColor="orange" />
    <kpi-citas title="Mensajes no entregados" valor="0" cssIcon="fa-regular fa-square-question" cssColor="gray" />
</div>
<dx-chart class="chart">

</dx-chart>