:host {
  ::ng-deep.dx-icon.tool-icon {
    font-size: 24px !important;
  }

  ::ng-deep .dx-datagrid .dx-datagrid-header-panel .dx-toolbar {
    padding: 0px 20px !important;
  }

  ::ng-deep .dx-button.dx-button-default {
    height: 34px;
    width: 34px;
  }
}
