::ng-deep .invalidCell {
  background-color: #ffd0d0;
  border-bottom: 2px solid red !important;
}

.div {
  position: relative;
  height: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px;
}

.div > i {
    font-size: 18px;
}

.check {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.div:has(input:checked) {
  background-color: red;
}
